<div class="quiz-page-container">
  <article class="detail-quiz">
    <h1 class="quiz-detail-name"><%= @question.text %></h1>
  </article>

  <div class="quiz-container">
    <%= form_for [ @quiz, @question, @question_answer ], :html => {class: "form-horizontal", role: "form"} do |f| %>
      <% if @question.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@question_answer.errors.count, "error") %>
              prohibited this question answer from being saved:
            </h2>
            <div class="panel-body">
              <ul>
                <% @question_answer.errors.full_messages.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

        <div class='form-group'>
          <%= f.label :text, 'New Answer' %>
          <%= f.text_field :text, rows: 10, class: 'form-control', placeholder: 'Enter an answer option' %>
        </div>

        <div class='form-group'>
          <%= f.label :correct, 'Tick if correct answer' %>
          <%= f.check_box :correct %>
        </div>

        <div class='form-group'>
          <%= f.submit "Add Answer", class: 'btn btn-primary btn-lg pull-right' %>
        </div>
    <% end %>
  </div>

  <hr>

  <div class='col-md-12'>
    <header>
      <h2 class="title-text-color">Answers</h2>
    </header>
    <div class="question-container">
      <% if @question.question_answers.any? && current_user.role != "minimal" %>
        <% @question.question_answers.persisted.each do |answer| %>
          <div class="answer-body answer-style">
            <%= answer.text %>
            <%= link_to "Edit Answer", edit_quiz_question_question_answer_path(@quiz, @question, answer), class: "btn btn-primary btn-md btn-edit" %>
            <%= link_to "Delete Answer", [@quiz,@question,answer], method: :delete, class: "btn btn-primary btn-md btn-delete", data: { confirm: "Are you sure?"} %>
          </div>
        <% end %>
      <% else %>
        You do not have the right permissions to view the answers
      <% end %>
    </div>
  </div>
</div>
