<div class="form-group-container">
  <%= form_for(@quiz, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <% if @quiz.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@quiz.errors.count, "error") %>
            prohibited this quiz from being saved:
          </h2>

          <div class="panel-body">
            <ul>
              <% @quiz.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class='form-group'>
      <%= f.label :name, class: 'title-text-color' %>
      <%= f.text_field :name, class: 'form-control quiz-input-width', placeholder: 'Name of Quiz', autofocus: true %>
    </div>
    <div class='form-group'>
      <%= f.label :description, class: 'title-text-color quiz-input-width' %>
      <%= f.text_field :description, class: 'form-control', placeholder: 'Description of Quiz' %>
    </div>
    <div class='form-group'>
      <div class="icon-container">
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>
</div>
