<h3 class='text-left'> Adding New Quiz</h3>
<div class='row'>
  <div class='col-md-10'>
    <%= form_for(@quiz, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @quiz.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@quiz.errors.count, "error") %>
              prohibited this quiz from being saved:
            </h2>

            <div class="panel-body">
              <ul>
                <% @quiz.errors.full_messages.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
                  <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :name %>
        </div>
        <div class='col-md-10'>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name of Quiz', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-1'>
          <%= f.label :description %>
        </div>
        <div class='col-md-10'>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Description of Quiz' %>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-md-7'>
          <%= f.submit class: 'btn btn-primary btn-lg pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
