<div class="login-form">
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h2>Reset password</h2>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
    </div>
    <div class="actions">
      <%= f.submit "Send", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
  <p class="text-center small"><%= render "devise/shared/links" %></p>
</div>
